:root {
    --background: #121111;
    --primary-color: #272733;
    --secondary-color: #514e59;
    --accent-color: #D4E01F;
    --text-color: #f8eded;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "ui-sans-serif";
    font-size: 16pt;
    color: var(--text-color);
}

body {
    min-height: 100vh;
    padding: 10px;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: var(--accent-color);
}

.wrapper {
    width: 700px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#write-input {
    box-sizing: border-box;
    padding: 12px 20px;
    width: 100%;
    background: none;
    border: 2px solid var(--secondary-color);
    border-radius: 1000px;
    font: inherit;
    color: var(--text-color);
    caret-color: var(--accent-color);
}

#write-input:focus {
    outline: none;
}

#add-btn {
    position: absolute;
    top: 0;
    right: 0;
    background: var(--accent-color);
    height: 100%;
    border-radius: 1000px;
    font: inherit;
    font-weight: 600;
    color: var(--background);
    padding: 0 30px;
    cursor: pointer;
}

form {
    position: relative;
}

.to-do {
    margin-bottom: 10px;
    padding: 0 16px;
    background: var(--primary-color);
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.to-do .to-do-text {
    padding: 15px;
    padding-right: 0;
    flex-grow: 1;
}

.delete-btn {
    padding: 3px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.delete-btn:hover svg {
    fill: #ff0033;
}

.delete-btn svg {
    transition: 180ms ease;
}

.custom-checkbox {
    border: 2px solid var(--accent-color);
    border-radius: 50%;
    min-height: 20px;
    min-width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: 180ms ease;
    cursor: pointer;
}

input[type="checkbox"]:checked ~ .custom-checkbox {
    background-color: var(--accent-color);
}

input[type="checkbox"]:checked ~ .custom-checkbox svg {
    fill: var(--primary-color);
}

input[type="checkbox"]:checked ~ .to-do-text {
    text-decoration: line-through;
    color: var(--secondary-color);
}

input[type="checkbox"] {
    display: none;
}

@media (max-width: 500px) {
    html {
        font-size: 12pt;
    }

    #add-btn {
        position: unset;
        width: 100%;
        margin-top: 10px;
        padding: 15px;
        height: auto;
    }

    h1 {
        margin-top: 50px;
        font-size: 15vw;
    }
}